<section [class]="customClass">
    <label [htmlFor]="name">{{ label }}</label>
    <input
        *ngIf="type !== 'password'"
        [type]="type"
        pInputText
        [autocomplete]="autocomplete"
        [placeholder]="placeholder"
        [disabled]="_disabled"
    />
    <p-password
        [disabled]="_disabled"
        *ngIf="type === 'password'"
        [toggleMask]="toggleMask"
        [feedback]="feedback"
        [placeholder]="placeholder"
        [autocomplete]="autocomplete"
        [inputId]="inputId"
    />
    <textarea
        rows="5"
        cols="30"
        pTextarea
        *ngIf="type === 'textarea'"
    ></textarea>
    <small>{{ helperText }}</small>
</section>
